<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ItemDisplayInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ItemDisplayInfo.Properties.Settings>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_username" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_hostname" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_port" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_worldDB" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_authDB" serializeAs="String">
                <value />
            </setting>
            <setting name="mysql_charactersDB" serializeAs="String">
                <value />
            </setting>
        </ItemDisplayInfo.Properties.Settings>
    </userSettings>
</configuration>